.main {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
}

.save-status {
  text-align: center;
}
.saved {
  color: green;
}
.not-saved {
  color: red;
}
.cycle-teachers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

.name {
  padding: 0 0.5rem 0 0.5rem;
}

.cycle {
  cursor: pointer;
}

.cycle:hover {
  background-color: rgba(109, 109, 109, 0.3);
}

th,
td {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

.text {
  font-size: 1.75rem;
  font-weight: bold;
  padding-right: 0.5rem;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.completion-status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.discard-button {
  background-color: rgba(255, 0, 0, 0.8);
}

.save-button {
  background-color: rgba(172, 255, 47, 0.8);
}

.continue-button {
  background-color: aqua;
}

.button {
  font-size: 1.2rem;
}
