.main {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
}

.save-status {
  text-align: center;
  margin-bottom: 0;
}
.saved {
  color: green;
}
.not-saved {
  color: red;
}

h2 {
  font-size: 1.7rem;
  text-align: center;
}
